.main {
  padding: 16px;
}

.titleContainer {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.titleContainer h1 {
  text-align: center;
}

.mealsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}
