.actionsBar {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
}

.spacing {
  height: 200px;
  width: 1px;
}

.actionButton {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
