.main {
  padding: 16px;
}

.titleContainer {
  display: flex;
  column-gap: 8px;
  align-items: center;

  h1 {
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.dishesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}
